<table>
  <tr>
    <th>Lp</th>
    <th>Name</th>
    <th>Price</th>
    <th>Describe</th>
    <th>Category</th>
    <th>Availability</th>
    <th>Raiting</th>
    <th>Bucket operations</th>
    <th>More admin actions</th>
  </tr>

  <tr *ngFor="let product of listProduct">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.describe}}</td>
    <td>{{product.category.name}}</td>
    <td>{{product.available ? 'available' : 'non available'}}</td>
    <td>{{product.raiting}}</td>
    <td>Add to cart with input box</td>
    <td> <a (click)="method(product.id)">Delete</a> </td>
  </tr>

</table>
